---
- name: Stop kubelet
  service:
    name: kubelet
    state: stopped
  become: yes

- name: Remove CNI config
  file:
    path: /etc/cni/net.d
    state: absent
  become: yes

- name: Remove CNI bridge interfaces
  shell: |
    ip link delete cni0 || true
    ip link delete flannel.1 || true
  become: yes

- name: Restart containerd
  service:
    name: containerd
    state: restarted
  become: yes

- name: Start kubelet
  service:
    name: kubelet
    state: started
  become: yes
