- hosts: master
  become: yes
  tasks:

    - name: Generate join command
      command: kubeadm token create --print-join-command
      environment:
        KUBECONFIG: /etc/kubernetes/admin.conf
      register: join_command

    - name: Set join command fact
      set_fact:
        kube_join_cmd: "{{ join_command.stdout }}"

- hosts: workers
  become: yes
  tasks:

    - name: Join cluster
      command: "{{ hostvars[groups['master'][0]].kube_join_cmd }}"
      args:
        creates: /etc/kubernetes/kubelet.conf
